body{
    background-image: url(../Bincom_Assn/Image3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div section div{
    margin-top: 10px;
    margin-left: 5px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.687);
    border-radius: 5px;
}
header{
    margin-bottom: 5%;
}
header div{
    padding: 15px;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.687);
    border-radius: 5px;
}
span{
    font-size: larger;
}
h2 a{
    text-decoration: none;
    color: gray;
}
img{
    width: auto;
    height: 300px;
    padding-top: 10px;
}